<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <title>Ajinomatrix</title>
    </head>

    <body>

        <nav>
            <div class="container">
                <div class="navbar-header">

                     <a href="https://www.ajinomatrix.org/" target="_blank">
                        <img src="static/ajinomatrix-large.png" alt="Ajinomatrix logo">



                </div>
            </div>
        </nav>

        <div class="container">
        <h1>Smell Prediction</h1>


        <div class="container">


        <p align="center"><a href=pca-distribution><button class=grey style="height:75px;width:150px">PCA Distribution</button></a></p>

        <p align="center"><a href=descriptor-variance><button class=grey style="height:75px;width:150px">Descriptor-variance</button></a></p>

        <p align="center"><a href=cluster-by-pca><button class=grey style="height:75px;width:150px">cluster-by-pca</button></a></p>


        <div class="row">
            The three graphs produced from the AJX Proof of Concept (PoC) on optimizing the aroma of vegan croissants in comparison to butter croissants, provide valuable insights into the distribution of molecular properties and aroma impressions, the variance among descriptors, and the correlation between molecular properties and aroma impressions.
        </div>

        <div class="container">
          <p></p>
        <p>One way to digitize scents and flavors is through smell prediction, which involves clustering data of different smells based on their molecular descriptors. Molecular descriptors can be calculated from the SMILES representation of the molecule, which is a string of characters that encodes the molecular structure. By analyzing the molecular descriptors, we can predict the different kinds of smells and flavors that a product may have.
        </div>

        <div class="container">
        Overall, the ability to digitize scents and flavors is an important tool for product development (and quality control). With the help of advanced technologies such as machine learning and data analysis, we can gain a better understanding of the molecular composition of smells and flavors, which can lead to the creation of more effective and desirable products.
        </p></div>



        </div><!-- /.container -->

    </body>
</html>